body ,  html{
  font-size: 16px;
  background: whitesmoke;
  font-family: 'Roboto', sans-serif;
}
header {
  display: flex;
  justify-content:space-between ;
  align-items: center;
  height:4rem;
  margin-bottom: 0;
}
.bold{
  font-size: 2rem;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 1rem;
  left: 4.5rem;
  /* padding-bottom: 1rem; */
  /* margin-bottom: 1rem; */
}
.light{
  position: absolute;
  top: 1rem;
  left: 13rem;
  font-size: 2rem;
  font-weight: 300;
  color: lightgray;
  /* padding-bottom: 2rem; */
  /* margin-bottom: 2rem; */
}

header  ul li{
  display: inline-block;
  padding: 1rem;
  }
header  ul li a{
  color: black;
  text-decoration: none;
}
.logo {
  padding: 1.5rem 1.5rem;
  height: 3rem;
}
.logo img{
  height: 3rem;
  font-weight: 900;
}
.banner{
  margin-top: 0;
  background: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:500px;
  width:100%;
}

.image-content img{
  width: 100%;
  height: auto;
  padding-left: 1em;
}
.image-content{
  flex-basis: 60%;

}
.banner-content{
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  margin-left: 2em;
  padding-left: 1.5rem;
}
.banner-content h1{
  font-weight: bold;
  font-size: 2.5em;
  padding: 1rem;
}
.banner-content h3{
  font-weight: bold;
  font-size: 1.5em;
  padding: 1.5rem;
}
.banner-content p{
  background: black;
  color: white;
  font-weight: bold;
  font-size: 1em;
  padding: 8px 0px;
  text-align: center;
  padding: 1rem;
}
.info-main{
  flex-basis:60%;
  padding-left: 1rem;
}
.info-main h1{
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1.5em;
}
.info-main p{
  padding-bottom: 2rem;
}
.addl-info{
  flex-basis: 40%;
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
}
.info-main img{
  width: 100%;
  height:auto;
  padding-top: 2em;
}
#main img{
  width:35%;
  height: auto;
}
#main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 1rem;
  border: 5px;
  border-color: black;
}
.content{
  width:65%;
  text-align: center;
  border: 5px;
  border-color: black;

}
.content h3{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
}
.content p{
  padding: 0.5rem;
}
.content p a{
  text-decoration: none;
  color: blue;
}
.learning{
  background: lightgray;
}
.learning h1{
  font-size: 2.5rem;
  font-weight: bold;
  width: 100%;
  text-align:center;
  height: 50px;
  padding: 2rem 0;
}
.flex-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#flex-container{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: center;

}
#flex-item{
  width:300px;
  background: whitesmoke;
  color:black;
  align-items: center;
  margin: 1rem;
}
#flex-item img{
    width:100%;
    height: auto;
    padding-bottom: 8px;
}

#flex-item h2{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding: 8px 16px;
  padding: 8px 16px;
}
#flex-item p{
text-align: left;
padding: 8px 16px;
color: gray;
}
.thesis h2{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  height: 25px;
  padding: 2rem 0;
  display: block;
}
#thesis{
  display:flex;
  justify-content: space-around;
  align-items:stretch;
}
.thesis-main{
  flex-basis:  60%;
  padding: 1rem;

}
.thesis-main h2,p{
  float: left;

}

.thesis-side{
  flex-basis: 40% ;
  display: flex;
  flex-direction: column;


}
.thesis-prisma , .thesis-now{
  display: flex;
  justify-content: center;
  align-items: center;

}
.thesis-prisma  h3,.thesis-now h3{
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
}
.thesis-prisma  p,.thesis-now p{
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
}
.thesis-now img,.thesis-prisma img{
   width:35%;
   height: auto;
   padding: 2rem;

}
.thesis-now .img-side,.thesis-prisma .img-side{
   width:65%;
 }
 .copy-right {
  float: left;
  padding-top:1rem;
  padding-left: 1.5rem;
  font-weight: lighter;
}
footer{
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.social{
  float: right;
  font-weight: lighter;
  font-size: 0.5rem;
}
.social p{
  padding: 0.5rem;
  font-weight: lighter;
  font-size: 0.8rem;
}
